*{
    padding: 0;
    margin:0;
    user-select: none;
    -webkit-user-drag: none;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#ele{
    width: 20vw;
    left: 40vw;
    top: 17vw;
    position: absolute;
    display: none;
}
#game{
    position: relative;
    width: 100vw;
    height: 52vw;
    background-image: url(./img/mainbg.png);
    background-size: 100% 100%;
}
#side{
    display: flex;
    background-color: blanchedalmond;
    height: 14.16vw;
    width: 2vw;
    position: absolute;
    left: 41vw;
    top: 21vw;
    border-radius: 1.07vw;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 0.4vw;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}
#side a{
    display: block;
    background-color: #ff5c6d;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
}
#side1{
    display: flex;
    background-color: blanchedalmond;
    height: 2vw;
    width: 10vw;
    position: absolute;
    left: 42.4vw;
    top: 21vw;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    overflow: hidden;
}
#side1 a{
    display: block;
    background-color: #ff5c6d;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
}

#side2{
    display: flex;
    background-color: blanchedalmond;
    height: 2vw;
    width: 6vw;
    position: absolute;
    left: 42.4vw;
    top: 27vw;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    overflow: hidden;
}
#side2 a{
    display: block;
    background-color: #ff5c6d;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
}

#side3 {
    display: flex;
    background-color: blanchedalmond;
    height: 2vw;
    width: 10vw;
    position: absolute;
    left: 42.4vw;
    top: 33.56vw;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8vw;
    overflow: hidden;
}  
#side3 a{
    display: block;
    background-color: #ff5c6d;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
}  
.lb{
    display: block;
    background-color: #ff5c6d;
    width: 2vw;
    height: 0vw;
    position: absolute;
    top: -0.1vw;
    border-radius: 1.5vw;  
}
.lb1{
    display: block;
    background-color: #ff5c6d;
    width: 0vw;
    height: 2vw;
    position: absolute;
    left: 0.5vw;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.lb2{
    display: block;
    background-color: #ff5c6d;
    width: 0vw;
    height: 2vw;
    position: absolute;
    left: 0.5vw;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.lb3{
    display: block;
    background-color: #ff5c6d;
    width: 0vw;
    height: 2vw;
    position: absolute;
    left: 0.5vw;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
#arrow{
    position: absolute;
    filter: invert(1);
    left: 35vw;
    top: 25vw;
    animation: down 2000ms linear infinite;
    height:6vw;
}

@keyframes down{
    0%{top:25vw}
    50%{top:30vw}
    100%{top:25vw}
}
@keyframes left1{
    0%{left:43vw}
    50%{left:46vw}
    100%{left:43vw}
}
@keyframes left2{
    0%{left:42vw}
    50%{left:44vw}
    100%{left:42vw}
}